BODY {
	SCROLLBAR-FACE-COLOR:#FF00FF;
	SCROLLBAR-ARROW-COLOR:#FF00FF;
	SCROLLBAR-TRACK-COLOR:#0000cd;
	SCROLLBAR-BASE-COLOR:#0000cd;
	SCROLLBAR-HIGHLIGHT-COLOR:#0000cd;
	SCROLLBAR-SHADOW-COLOR:#0000cd;
	SCROLLBAR-3DLIGHT-COLOR:#0000cd;
	SCROLLBAR-DARKSHADOW-COLOR:#0000cd;
}
BODY {
	BORDER-RIGHT:#0000cd 5px ridge;
	BORDER-TOP:#0000cd 5px ridge;
	BORDER-LEFT:#0000cd 5px ridge;
	BORDER-BOTTOM:#0000cd 5px ridge;
	BACKGROUND-COLOR:#28557e;
}

::selection{background:#f00606;color:#fff}

DIV,FORM,P,TD,BODY{FONT-SIZE:9pt;}

.center
{
margin-left:auto;
margin-right:auto;
}

.mImg{
	border:0px;width:100%;margin-left:auto;margin-right:auto;
}
.mImg img{width:100%;}



TD.node {
	HEIGHT: 22px;
}

.left {
	background-color: #0000cd;
}
.division {
	background-color: #0000cd;
}

#deeptree SPAN {
	BORDER-RIGHT: #0000cd 0px solid;
	PADDING-RIGHT: 4px;
	BORDER-TOP: #0000cd 0px solid;
	PADDING-LEFT: 4px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 2px;
	MARGIN-LEFT: 3px;
	BORDER-LEFT: #0000cd 0px solid;
	CURSOR: default; COLOR: #000000;
	PADDING-TOP: 2px;
	BORDER-BOTTOM: #0000cd 0px solid;
	FONT-FAMILY: Arial; HEIGHT: 20px;color:yellow;
}

#deeptree SPAN.NodeOver {
	BORDER-RIGHT: #0000cd 1px solid;
	BORDER-TOP: #0000cd 1px solid;
	BORDER-LEFT: #0000cd 1px solid;
	BORDER-BOTTOM: #0000cd 1px solid;
	BACKGROUND-COLOR: #0000cd;
}


A:visited{COLOR: black;TEXT-DECORATION:none}
A:link{COLOR: black;text-decoration:none}
A:hover{COLOR: #0000cd;TEXT-DECORATION:underline}




#TableTitleLink A:link,#TableTitleLink A:visited{COLOR:000000;}
.a11{BACKGROUND-IMAGE:url('titlebg.gif');COLOR:000000;}
.a1{COLOR:#0000cd;}
.a2{BACKGROUND-COLOR: #0000cd;}
.a3{BACKGROUND-COLOR: #0000cd;}
.a4{BACKGROUND-COLOR: #0000cd;}
.a5{BACKGROUND-COLOR: #0000cd;}
.a6{BACKGROUND-COLOR: #0000cd;}

.menuskin {
	BORDER-RIGHT: #0000cd 1px solid ;
	BORDER-TOP: #0000cd 1px solid;
	BORDER-LEFT: #0000cd 1px solid;
	BORDER-BOTTOM: #0000cd 1px solid;
	BACKGROUND-IMAGE: url(menubg.gif);
	POSITION: absolute;
	VISIBILITY: hidden;
}

.menuitems {
	PADDING-RIGHT: 1px;
	PADDING-TOP: 1px;
	PADDING-LEFT: 1px;
	PADDING-BOTTOM: 1px;
	MARGIN: 2px;
	font-size: 9pt;
	line-height:14pt;
}
#mouseoverstyle {
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	BORDER-RIGHT: #ffc0ff 1px solid;
	BORDER-TOP: #ffc0ff 1px solid;
	BORDER-LEFT: #ffc0ff 1px solid;
	BORDER-BOTTOM: #ffc0ff 1px solid;
	BACKGROUND-COLOR: #ffc0ff; 
}
.menuskin A {PADDING-RIGHT:10px;PADDING-LEFT:30px;}



.headtext {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: yellow; FONT-STYLE: normal;
}



