.verticle-mode{
writing-mode:tb-rl;
-webkit-writing-mode:vertical-rl;
writing-mode:vertical-rl;
line-height:36pt;
letter-spacing:0.3em;
}
.mImgAbsolute {
	position:fixed;
	right:0; 
	bottom:-20; 	
}

.mlidcover 
 { 
  width:100%; 
  height:100%; 
  background-color:#000; 
  filter:alpha(opacity=0);  
  opacity:0; 
  position:absolute; 
  left:0px; 
  top:0px; 
  display:block; 
  z-index:1000; 
 }
